html
    header
        title All Post
    body
        ul
            each post in posts
                if(post.id)
                    li
                        h3= post.title
                        p= post.content
                        p= "Author: " + post.author
                        a(href=`/posts/${post.id}`) Read More
        
        a(href="/posts/form") Add Post